/Variaveis/nbproject/private/
/Variaveis/build/
/Agenda/nbproject/private/
/Agenda/build/
/Unicesumar/nbproject/private/
/Unicesumar/build/
/GuanabaraSwing/nbproject/private/
/Guanabara/nbproject/private/
/GuanabaraSwing/build/
UdemyJava/ByteShortInt/\.idea/

UdemyJava/Operators/\.idea/

*.iml

UdemyJava/Methods/\.idea/

UdemyJava/Switch/\.idea/
